

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-form-json"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-zinc-600">
    <header class="flex flex-col bg-zinc-800 items-center p-4">
      <h1 class="text-white text-4xl"><a hx-get="/view/home" hx-target="#content">KWatcher</a></h1>
    </header>    
    <content class="flex flex-col items-center text-white m-4" id="content" hx-get="/api/rabbitmq/overview" hx-trigger="load">
    </content>
  </body>
</html>

<script>
  setInterval(() => {
      window.dispatchEvent(new CustomEvent('tick', { bubbles: true }));
  }, 1000)
</script>
